<!DOCTYPE html>
<html lang="zh-TW">
<%- partial('_partial/head') %>

<body class="main-background">
  <%- partial('_partial/header') %>
  
  <div class="main-content">
    <%- body %> <!-- 這個 body 就是 Hexo 自動幫你放入 index.ejs 或 post.ejs 的內容 -->
  </div>

  <%- partial('_partial/footer') %>
  
  <!-- 如果有需要引入 script，可以在這裡加 -->
  <%- js('js/script.js') %>
</body>
</html>